* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

:root {
  --desert-gold: #e2a754;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: var(--desert-gold, gold);
}

header,
.header-links,
.header-top {
  display: flex;
  flex-direction: column;
}

.header-links.hidden {
  display: none;
}

.header-links.shown {
  display: flex;
}

.header-top {
  flex-direction: row;
}

.header-top > a > h1 {
  font-size: clamp(1.5rem, 4vw, 3rem);
}

.brand {
  display: flex;
  margin-right: auto;
  align-items: center;
}

.logo {
  aspect-ratio: 1/1;
  height: clamp(2rem, 5vw, 4rem);
  position: relative;
  right: 6px;
}

.header-links {
  align-items: center;
}

.header-links > li {
  padding: 0.25rem 0 0.25rem 0;
}

.line-break {
  width: 100%;
  height: 2px;
  background-color: black;
}

.dune {
  aspect-ratio: 1/1;
  width: 300px;
}

section {
  flex: 1;
  background-color: rgb(250, 250, 250);
}

h2 {
  text-align: center;
  font-size: clamp(2rem, 4vw, 2.5rem);
  margin: 0.5rem 0 0rem 0;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 32px;
  margin: 0 64px 32px 64px;
}

@media (max-width: 650px) {
  .products {
    margin: 0 8px 8px 8px;
    grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
    gap: 8px;
  }
}

.product-card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transition: filter 225ms ease-in-out;
}

.product-card:hover {
  filter: contrast(80%);
}

.product-card > img {
  aspect-ratio: 1/1;
  width: min(75%, 250px);
  padding-top: 0.5rem;
}

.product-card > h3 {
  text-align: center;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem 2px 2.2rem 2px;
  margin-top: 1.25rem;
  font-size: clamp(14px, 2vw, 18px);
}

.product-card > div {
  position: absolute;
  bottom: 0;
  padding-bottom: 0.5rem;
  font-size: clamp(12px, 2vw, 16px);
}

.product {
  padding: 0 min(10vw, 320px) 0 min(10vw, 320px);
}

.product-body {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-areas:
    "img info"
    "desc desc"
    "button button";
}

.product-body > img {
  grid-area: img;
  aspect-ratio: 1/1;
  width: clamp(100px, 30vw, 300px);
}

.product-info {
  grid-area: info;
}

.rating {
  font-size: 4rem;
  display: inline-block;
  background: linear-gradient(90deg, gold 20%, black 0%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.product-description {
  grid-area: desc;
}

.product-body > button {
  grid-area: button;
}

.contact-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socials {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 16px;
  padding: clamp(16px, 4vw, 65px) 16px clamp(16px, 4vw, 40px) 16px;
  width: min(600px, 100vw);
}

.social-media-icon {
  aspect-ratio: 1/1;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 4px 12px;
  border-radius: 32px;
}

.contact-page > p {
  margin: 0.5rem 0 0 0;
  font-size: clamp(1rem, 4vw, 1.5rem);
  text-align: center;
}

footer {
  text-align: center;
  background-color: rgb(240, 240, 240);
  font-size: 0.9rem;
  padding: 0.5rem 0 0.25rem 0;
}
