* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
}

.brand {
  display: flex;
}

.logo {
  aspect-ratio: 1/1;
  width: 32px;
}

.dune {
  aspect-ratio: 1/1;
  width: 300px;
}

.header-links {
  display: flex;
  gap: 2rem;
}

section {
  flex: 1;
}

.product-card > img {
  aspect-ratio: 1.1;
  width: 100px;
}

.product-body > img {
  aspect-ratio: 1.1;
  width: 200px;
}

footer {
  text-align: center;
}
